* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: 'Oswald', sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    width: 80%;
    padding: 0 10%;
    border-bottom: 2px solid #263238;
    display: inline-block;
}

.dropdown-content {
    display: none;
    padding: 10px;
    font-size: 0.8vw;
    position: absolute;
    z-index: 1;
    background-color: #263238;
    column-count: 2;
}

.dropdown {
    overflow: hidden;
    float: left;
}

.dropdown .dropbtn {
    outline: none;
    border: none;
    background-color: inherit;
    color: #fff;
    font-size: 1.4vw;
    padding: 1vw;
    font-family: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #263238;
}

.fa-caret-down {
    font-size: 1vw;
    color: #6dd5fa;
}

.dropdown-content a:hover {
    color: #B0BEC5;
}

.dropdown-content a {
    float: none;
    display: block;
    text-align: left;
    padding: 3px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.social {
    float: right;
    margin: 1.4vw 0.3vw 0 0.3vw;
    font-size: 1vw;
}

.fa-facebook-f {
    color: #6dd5fa;
}

.fa-facebook-f:hover {
    color: #fff;
}

.fa-twitter {
    color: #6dd5fa;
}

.fa-twitter:hover {
    color: #fff;
}

.fa-rss {
    color: #6dd5fa;
}

.fa-rss:hover {
    color: #fff;
}

.social a:hover {
    background-color: #000;
}

.login {
    color: #fff;
    float: right;
    margin: 1.4vw 0 1.4vw 2vw;
    font-size: 1vw;
}

.login a:hover {
    background-color: #000;
}

.dropbtn:hover > .fa-caret-down {
    color: #fff;
}

.fa-search:hover,
.fa-user-alt:hover {
    color: #B0BEC5;
}

/* Flowing Gradient */

.gradient {
    background: linear-gradient(270deg, #2980b9, #6dd5fa, #ffffff);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
    display: inline-block;
    width: 90vw;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* End of Flowing Gradient */

h1 {
    font-weight: 500;
    margin: 5%;
}

.wrapper {
    text-align: center;
}

.hero_large {
    width: 62.73vw;
    background-color: #000;
    height: 400px;
    float: left;
    margin: 0.18% 0 0.18% 0.18%;
}

.hero_small {
    width: 26.73vw;
    background-color: #000;
    height: 400px;
    float: left;
    margin: 0.18%;
}

.hero_large_s {
    width: 62.73vw;
    background-color: #000;
    height: 400px;
    float: left;
    margin: 0 0.18% 0.18% 0;
}

.hero_small_s {
    width: 26.73vw;
    background-color: #000;
    height: 400px;
    float: left;
    margin: 0 0.18%;
}

.hero_child_text {
    width: 50%;
    height: inherit;
    color: #fff;
    float: right;
    text-align: left;
    font-size: 1.6vw;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);    
}

.hero_child_text_2 {
    width: 50%;
    color: #fff;
    height: inherit;
    float: left;
    font-size: 1.7vw;
    text-align: right;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hero_child_text:hover a {
    color: #6dd5fa;
}

.hero_child_text_2:hover a {
    color: #6dd5fa;
}

.hero_child_image {
    width: 50%;
    height: 100%;
}

.hero_child_image_2 {
    width: 50%;
    height: 100%;
    float: right;
}

.small_img {
    height: 65%;
    width: 100%;    
}

.small_text {
    color: #fff;
    width: 26.73vw;
    padding-top: 10%;
    height: 35%;
    text-align: center;
    font-size: 1.2vw;
}

h3 {
    font-weight: 500;
}

h3:hover {
    color: #6dd5fa;
}

/* Media Queries */

@media only screen and (max-width: 1240px) {
    .hero_large {
        height: 350px;
    }

    .hero_large_s {
        height: 350px;
    }

    .hero_small {
        height: 350px;
    }

    .hero_small_s {
        height: 350px;
    }
}

@media only screen and (max-width: 1140px) {
    .hero_large {
        height: 310px;
    }

    .hero_large_s {
        height: 310px;
    }

    .hero_small {
        height: 310px;
    }

    .hero_small_s {
        height: 310px;
    }
}

@media only screen and (max-width: 1024px) {
    .hero_large {
        height: 270px;
    }

    .hero_large_s {
        height: 270px;
    }

    .hero_small {
        height: 270px;
    }

    .hero_small_s {
        height: 270px;
    }
}

@media only screen and (max-width: 880px) {
    .hero_large {
        height: 230px;
    }

    .hero_large_s {
        height: 230px;
    }

    .hero_small {
        height: 230px;
    }

    .hero_small_s {
        height: 230px;
    }
}

@media only screen and (max-width: 800px) {
    .social {
        margin: 0 0.3vw 0 0.3vw;
    }

    .wrap {
        display: flex;
        justify-content: center;
    }

    .login {
        margin: 0 0 0 2vw;
    }

    .flex {
        display: flex;
        margin: 0 auto;
        flex-direction: row-reverse;
        justify-content: center;
        width: 80%;
    }

}

@media only screen and (max-width: 740px) {
    .hero_large {
        width: 89.46vw;
    }

    .hero_large_s {
        width: 89.46vw;
        margin: 0.18%;
        float: left;
    }

    .hero_small {
        width: 44.62vw;
        margin: 0 0 0 0.18%;
    }

    .hero_small_s {
        width: 44.62vw;
        margin: 0 0 0 0.18%;
    }

    .small_text {
        width: 45vw;
    }
}

@media only screen and (max-width: 600px) {
    .hero_large {
        width: 89.46vw;
        height: 160px;
    }

    .hero_large_s {
        width: 89.46vw;
        margin: 0.18%;
        float: left;
        height: 160px;
    }

    .gradient {
        width: 98vw;
    }

    .hero_small {
        width: 44.62vw;
        margin: 0 0 0 0.18%;
        height: 160px;
    }

    .hero_small_s {
        width: 44.62vw;
        margin: 0 0 0 0.18%;
        height: 160px;
    }

    .dropdown .dropbtn {
        font-size: 4vw;
    }

    .small_text {
        font-size: 2.5vw;
    }

    .login {
        font-size: 3vw;
        margin: 0 0 0 4vw;
    }

    .social {
        font-size: 3vw;
        margin: 0 0.6vw 0 0.6vw;
    }

    .fa-caret-down {
        font-size: 2vw;
    }

    .dropdown-content {
        font-size: 2vw;
    }
}

